<p>Greetings IGN,</p>
<p>I'm a self-taught programmer, with a strong interest in the business and development of games.</p>
<p>Question 3 seems to indicate that the license plates will have a
number of characters, and each character can have a range of 0-9 or A-Z. </p>
