<form>
<div class="q3">
<ul>
	<li>Population:
		<span><input id="population" type="text"></span>
	</li>
	<div id="result"><p> </p></div>
	<li>Pattern:
		<span id="pattern"></span>
	</li>
	<li>Total Plates:
		<span id="total"></span>
	</li>
	<li>Excess Plates:
		<span id="excess"></span>
	</li>
</ul>
</div>
<script language="javascript">
$(document).ready(function(){
	$("input").keyup(function(){
		$("#result p").load("http://ign-code-foo-2.herokuapp.com/question3/1");
	});
});
</script>
