<div style="width:30%">
	<ul>
		<li>Population: <span style="float:right">
			<%= @population %></span></li>

		<li>Pattern: <span style="float:right">
			<%= @pattern %></span></li>

		<li>Total plates: <span style="float:right">
			<%= @total %></span></li>

		<li>Excess Plates: <span style="float:right">
			<%= @excess %></span></li>
	</ul>
</div>
